* {
    margin: 0;
    padding: 0;
}

body {
    background: #fdfdfd;
    color: #222;
}

header {
    width: 100%;
    background: rgb(39, 39, 39);
    position: sticky;
    top: 0px;
    z-index: 10;
}

.logo {
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    font-weight: 200;
}

nav a:hover {
    color: #1e3f66;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.gallery {
    padding: 20px 40px;
    max-width: 1500px;
    margin: 0;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.gallery-card {
    position: relative;
}

.gallery-card img {
    width: 100%;
    border-radius: 4px;
}

.gallery-card span {
    position: relative;
    bottom: 10px;
    left: 10px;
    background: rgba(241, 241, 241, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.container {
    padding: 5%;
    margin: 5%;
    background-color: #eeeeee;
    gap: 3rem;
}

.hero {
    display: flex;
    background-color: #eeeeee;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 4px;
    gap: 2rem;
}

.hero-text {
    background: rgba(255, 255, 255, 0);
    width: 20px auto;
    padding: 20px 25px;
    text-align: center;
}

.about-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px;
    min-width: 300px
}

.col-text {
    flex: 1 1 50%;
    padding: 20px;
    min-width: 300px;
    text-align: left;
}

.col-img {
    margin: auto;
    flex: 1 1 50%;
    min-width: 300px;
}

.btn {
    width: 75%;
    padding: 12px;
    border: #1e3f66;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.4s ease;
}

.btn:hover {
    color: bisque;
}

.featured {
    padding: 60px 40px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 30px;
}

.feature-card {
    position: relative;
}

.feature-card img {
    width: 100%;
    border-radius: 8px;
}

.feature-card span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 30px;
    background: #fafafa;
    margin-top: 40px;
}