* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
    color: #222;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background: #272727;
    position: sticky;
    top: 0;
    z-index: 50;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #1e3f66;
}

.page-container {
    max-width: 1400px;
    /* adjust width as you like */
    margin: auto;
    /* centers the content */
    padding: 0 40px;
    /* left/right margin space */
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 70px 40px;
    background-color: #eeeeee;
    flex-wrap: wrap;
}

.hero-content {
    flex: 1 1 350px;
    min-width: 300px;
    text-align: left;
}

.hero-image {
    flex: 1 1 350px;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #1e3f66;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    color: bisque;
    background-color: #274b7a;
}

/* CAROUSEL */
.gallery-section {
    padding: 70px 0;
    background: #fff;
}

.gallery-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 600;
}

.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* FEATURED GRID */
.featured {
    padding: 60px 40px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 30px;
}

.feature-card img {
    width: 100%;
    border-radius: 8px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: #fafafa;
    margin-top: 40px;
}