* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
    color: #222;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 50;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(38, 38, 133, 1) 35%, rgba(89, 89, 89, 1) 100%);
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #1e3f66;
}

.page-container {
    max-width: 1400px;
    margin: auto;
    padding: 0 40px;
}

.multi-img-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.multi-img {
    width: 30%;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
}

.gallery-section {
    padding: 70px 0;
    background: #ffffff;
}

.gallery-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 600;
}

.featured {
    padding: 60px 40px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 30px;
}

.feature-card img {
    width: 100%;
    border-radius: 8px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 70px 40px;
    background-color: #f5f5f5;
    flex-wrap: wrap;
    border-radius: 4px;
}

.hero-content {
    flex: 1 1 350px;
    min-width: 300px;
    text-align: left;
}

.hero-image {
    flex: 1 1 350px;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
}

.btn {
    padding: 12px 25px;
    background-color: #000000;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    color: bisque;
    background-color: #274b7a;
}

footer {
    text-align: center;
    padding: 30px;
    background: #fafafa;
    margin-top: 40px;
}