@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: 100;

}

body {
    background: #fdfdfd;
    color: #222;
}

header {
    width: 100%;
    background: rgb(39, 39, 39);
    position: sticky;
    top: 0px;
    z-index: 10;
}

.logo {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

nav a.active {
    border-bottom: 2px solid #000;
}

/*Contact Form*/

.contact-page {
    max-width: 600px;
    margin: 100px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.contact-page h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 80px;
    letter-spacing: 2px;
    color: #111;
}

.contact-form label {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 25% margin-top: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    display: block;
    width: 75%;
    padding: 12px;
    margin-top: 20px;
    background-color: #151f49c9;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.4s ease;
}

.contact-form button:hover {
    background-color: #444;
}

footer {
    text-align: center;
    padding: 30px;
    background: #fafafa;
    margin-top: 40px;
}