* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;

}

body {
    background: #fdfdfd;
    color: #222;
}

header {
    width: 100%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(38, 38, 133, 1) 35%, rgba(89, 89, 89, 1) 100%);
    position: sticky;
    top: 0;
    z-index: 50;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #1e3f66;
}

.page-container {
    max-width: 1400px;
    margin: auto;
    padding: 0 40px;
}

.contact-page {
    max-width: 600px;
    margin: 100px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.contact-page h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 80px;
    letter-spacing: 2px;
    color: #111;
}

.contact-form label {
    display: block;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 0%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    width: 75%;
    padding: 12px;
    margin-top: 10px;
    background-color: #151f49c9;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.4s ease;
}

.contact-form button:hover {
    background-color: #444;
}

#thank-you {
    background: #ffd0d0;
    color: #2c2c2c;
    padding: 15px;
    margin: 120px;
    border-radius: 40px;
    text-align: center;
    font-size: 1.2rem;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 30px;
    background: #fafafa;
    margin-top: 40px;
}