.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 40px;
}

.hero {
    background: url("/Images/Shoes.JPG") center/cover no-repeat;
    height: 520px;
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(218, 218, 218);
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    font-style: italic;
}

.packages-section {
    padding: 60px 20px;
}

.package-card {
    background: #eeeeee;
    margin-bottom: 2%;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.package-card:hover {
    transform: translateY(-3px);
}

.package-card h2 {
    margin-bottom: 8px;
    font-size: 1.6rem;
}

.package-card p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.package-card ul {
    padding-left: 18px;
    margin-bottom: 20px;
}

.price {
    font-size: 1.5rem;
    color: #1b3bc9;
    font-weight: 600;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 30px;
    background: #fafafa;
    margin-top: 40px;
    font-size: 14px;
}