/* Global Styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #333;
    padding: 0 15px;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #ffffff;
    border-bottom: 3px solid #333
}

.logo {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 0;
}

nav a {
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
    font-weight: 450;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #000;
}

#searchBar {
    padding: 8px 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    width: 140px;
}

#searchBar:focus {
    outline: none;
    width: 200px;
    border-color: #173b64;
    background: #fff;
}

#searchBar::placeholder {
    color: #3d3d3d;
}

.search-results {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 250px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    border: 1px solid #eee;
}

.search-item {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    color: #333;
    display: block;
    text-decoration: none;
    font-size: 12px;
    transition: 0.2s;
}

.search-item:last-child {
    border-bottom: none;
}

.search-item:hover {
    background: #f8f9fa;
    color: #1e3f66;
}

/* Footer */

.footer {
    position: relative;
    margin-top: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-images {
    display: flex;
    overflow: hidden;
}

.footer-images img {
    flex: 1;
    height: 200px;
    object-fit: cover;
    min-width: 0;
}

.footer-banner {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 50px;
    gap: 40px;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.copyright {
    text-align: center;
    padding: 15px;
    background: #fafafa;
    font-size: 14px;
    color: #888;
}